h1{ font-family: 'Lobster', cursive;
    color:rgb(129, 152, 161);
    text-align: center;}
  h3{ font-family: 'Oswald', sans-serif }
  
  h6{
    
  font-family: 'Oswald', sans-serif;
  margin: 10px;
  text-align: center;
  color:rgb(129, 152, 161);
  font-size: x-large;}
  
  
  p,h2,h3{margin-left: 10px;}
  
.flex-container{
  display: flex;

  flex-direction: column;
  border: 2px solid;
  
  background-color: lightgray;
}
.flex-container h3{


  column-width:40in;
text-align: center;

}
a:link{ color: black;

text-decoration: none;    }
    a:visited{
color: black;
      text-decoration: none;  
    ;
  }

a:hover{color: red;
text-decoration: none;
cursor: pointer;}

a:active{color: black;
text-decoration: none;}
.center{
        
  width: 220px;
  margin: 10px;
  text-align: center;
}

.Anis,.school,.barca{
  border: 3px solid;

margin-top: 10px;
  border: 3px solid;
  background-color: snow;
  border-radius: 5px;


} 
.layout{
  display: block;
border-radius: 3px;
border-collapse: separate;

  border: 3px;  
}

img{
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width:270px;
}
p {
margin: 0;
padding: 0;
}

@media screen and (min-width:800px) {
.flex-container{
display: flex;
flex-direction: row;

border: 2px solid;

background-color: lightgray;
}
.Anis{grid-area: Anis;}
.barca{ grid-area:barca;}
.school{grid-area: school;}

.layout{
display: grid;
grid-template-areas: 
'Anis Anis Anis Anis'
'Anis Anis Anis Anis'
'school school school school'
'school school school school'
'barca barca barca barca';


 }
.Anis,.school,.barca{
border: 3px solid;

margin-top: 10px;
border: 3px solid;
background-color: snow;
border-radius: 5px;


}.d,.center{text-align: center;}
p,h2,h3{margin-left: 10px;}

    }
                              
                
       